body {
    font-family: Roboto, Arial, Helvetica, sans-serif; 
    color: black;
    background-color: white;
}

/* header settings */

  .logo {
      width: 56%;
  }

  hr{
    height:2px;
    background-color: black;
    width:100%;
  }

  .header{ /*ver. flex for directory, logo, line, and page title*/
    display:flex;
    align-items: center;
    gap:20px;
    margin-bottom:40px;
  }
    
  .title{
    margin-bottom:50px; 
    margin-top:75px;
    font-size: 38px;
    text-align:left;
  }

  .headerText{   /* Div for non-logo elements of header*/
    width:100%  
  }

/* directory settings */

  .directory{ /*The top links*/
    text-decoration: none; /* remove underline from links*/
    color: black;
    font-size: 25px;
    padding-top: 25px;
    display:flex;
    padding-right:65px;
    align-items:center;
    justify-content: flex-end; /*put on right side of the screen*/
    gap:75px; /*spacing between buttons*/
    padding-bottom: 25px;
  }

    .current-page {
      background-color: yellow;
      font-weight: bold;
      width:fit-content; /* only higlighting text */ 
    }

    a{
      text-decoration: none;  /* removing underline */
      color: black;
    }

    .detail-link {
      margin-bottom: 25px; /* setting spacing around links on the detail pageto match the other two pages*/
      margin-top:25px;
    }

  

  /* detail divs */
    .detail-entry { /* div for all content on page (non-header)*/
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 85px;
      margin-right: 45px; /* center entry*/
      text-align: center;
    }

      .original-cinnamon-roll{ /* hoz. flex box for image and purchase info */
        display:flex;
        justify-content: space-around;
        gap:60px;
        
      }
      
        .original-cinnamon-roll-img{ /* div to size img in flex box */
          width:69%; 
        }
    

        .purchase-info{ /* ver. flex box for selects, prices, buttons */
          display:flex;
          flex-direction: column;
          gap:40px;
          margin-bottom: 10px;
          text-align: left;
          width:31% ; /* roughly a third of parent div*/
        }
            .detail-img{
                width:100%; 
                border:3px solid black;
                box-sizing: border-box;
                text-align:center;
            }

          .detail-img-description {
            display:inline-block;
            text-align:left;
            width: 100%;
            margin-bottom: 10px;
            font-size: 24px;
          }

          .select {
            display: inline-block;
            width:100%; /* take up the whole purchase-info div*/
            font-size: 24px;
            padding:7px; /* add space in box*/
            border-width: 3px;
            border-color: black;
            margin-bottom: 15px; /* Space between selects*/
          }

            .select-label{
              margin-bottom:10px; /* Space between label and box*/
              font-size:24px;
            }
        
          .buy{ /* flex box for price and add to cart button*/
            display:flex;
            margin-top: 100px; /* spacing between selects and buy */
            font-weight: bold;
            justify-content: space-between; /* leave space between price and button */
            padding-left: 5px; /* bring price slightly inside div */
            font-size:24px;
          }
            .add-button {
              border:3px solid black;
              background-color: yellow;
              text-align: center;
              text-decoration: none;
              font-size: 22px;
              font-weight: bold;
              width:75%; /* take up 75% of the "buy" flexbox*/
            }


            