body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color:  #ffffff;
}

.logo {
    width: 25%;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.currentPage {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
    font-weight: bold;
    width:fit-content;
    
}

.galleryimg{
    width:20%;
    margin: auto auto;
    border:2px solid black;
}

.detailimg{
    width:40%;
    margin: auto auto;
    border:2px solid black;
}

.cartimg{
    width:40%;
    margin: auto auto;
    border:2px solid black;
}


hr{
    height:2px;
    background-color: black;
}

.button {
    border:3px solid black;
    color: black;
    background-color: yellow;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 4px 2px;
  }

  .select {
    display: inline-block;
    width:100px;
  }