.profile-header-image{ /* setting sizing for image in header */
    width:fit-content;
    height:200px;
    border-radius:100px;
    object-fit: cover;
    box-shadow: 0px 2px 7px;
    z-index:1;
}

.header-background-image { /* the image contained in the header box*/
    width:100%;
    height:290px;
    object-fit: cover;
    position:absolute;
    z-index:1;
}

.profile-section{ /* Setting the spacing between each section of the website*/
    margin-bottom:50px;
}

    .section-title{
        font-size: 24px;
        color:white;
        margin-bottom: 20px;
        font-weight:bold;
    }

    .section-row{ /*  setting the spacing between the elements within each section */
        display:flex;
        gap:15px;
        overflow:scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .section-row::-webkit-scrollbar {
        display: none;
      }


    .section-entry{ /*  setting the dimensions and behavior of each section item */
        height:fit-content;
        width:220px;
        max-height:285px;
        background-color: #222222;
        border-radius:10px;
        padding:15px;
        align-items: top;
        border: none;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 3px solid transparent;
    }

    .section-entry:hover{
        background-color:#2B2B2B;
        border: 3px solid #E54173;
        box-sizing: border-box;
    }
    
        .entry-image{
            width:100%;
            height:150px;
            border-radius:10px;
            object-fit: cover;
        }
        
        .entry-title{
            color:white;
            font-weight:bold;
            font-size: 16px;
            width:100%;
            margin-top:10px;
            margin-bottom:5px;
            text-align:left;
        }

        .entry-desc{
            color:gray;
            font-size: 14px;
            height:70px;
            width:100%;
            text-align:left;
        }


.popular-project{ /*  setting the behavior and dimensions of aspects for the "popular projects" section*/
    display:flex;
    overflow:hidden;
}

    .popular-image{ 
        width:120px;
        height:80px;
        margin-right:20px;
        object-fit: cover;
    }


.about{ /* aligning the contents of the about section with the rest of the page*/
    padding-left:20px;
}
    .contact{
        display:flex;
        font-weight:bold;
        margin-top:50px;
        gap:10px; 
    }

    .contact-image{
        width:15px;
        height:15px;
    }

    .contact-desc{
        color:white;
        font-size: 14px;
        width:100%;
        text-align:left;
    }

.toggles{ /* setting the space between and below the discography toggles */
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.default-toggle { /* the styling for an unselected toggle*/
    border-radius:20px;
    width:fit-content;
    background-color: #222222;
    color:white;
    font-weight:bold;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:15px;
    padding-right:15px;

}

.selected-toggle { /* the styling for a selected toggle */
    border-radius:20px;
    width:fit-content;
    background-color: #E54173;
    color:white;
    font-weight:bold;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:15px;
    padding-right:15px;

}


.play-entry-button{  /* the styling for the button that pops up over an entry */
    width:40px;
    height:40px;
    position:absolute;
    margin-left:135px;
    margin-top:-55px;
    display:none;
    box-shadow: 1px 2px 7px;
    border-radius:100px;
}

.play-entry-button.Show{ /* displaying the button on hover */
    display:block;
}
