body {
  font-family: Roboto, Arial, Helvetica, sans-serif; 
  color: black;
  background-color:  #ffffff;
}

/* header settings */

.logo {
    width: 56%;
}

hr{
  height:2px;
  background-color: black;
  width:100%;
}

.header{ /*ver. flex for directory, logo, line, and page title*/
  display:flex;
  align-items: center;
  gap:20px;
  margin-bottom:40px;
}
  
.title{
  margin-bottom:50px; 
  margin-top:75px;
  font-size: 38px;
  text-align:left;
}

.headerText{   /* Div for non-logo elements of header*/
  width:100%  
}

/* directory settings */

.directory{ /*The top links*/
  text-decoration: none; /* remove underline from links*/
  color: black;
  font-size: 25px;
  padding-top: 25px;
  display:flex;
  padding-right:65px;
  align-items:center;
  justify-content: flex-end; /*put on right side of the screen*/
  gap:75px; /*spacing between buttons*/
  padding-bottom: 25px;
}

  .current-page {
    background-color: yellow;
    font-weight: bold;
    width:fit-content; /* only higlighting text */ 
  }

  a{
    text-decoration: none;  /* removing underline */
    color: black;
  }

  .detail-link {
    margin-bottom: 25px; /* setting spacing around links on the detail pageto match the other two pages*/
    margin-top:25px;
  }


/* cart divs */

  .cart-entry {   /* flex box for image, caption, price */
    display:flex;
    flex-direction:column;
    margin-left:37%; /* indenting to the right of the screen */
    text-align:left;
    align-items:center;
    width:63%; /* take up the remainder of the screen */
    height:fit-content;  /* to account for the cart-entry div used for the total */
    gap:7px; /* space between image and caption */
    margin-bottom:20px; /* fixing spacing betwen image and remove - had issue with <a> height */
  }
    .roll-info{ /* vertical flex for type, glazing, and pack size*/
      display:flex;
      align-items: center;
    }
    
      .roll-caption{
        width:80%;         /* how much of the div the caption takes */
        font-size:27px;
      }

      .roll-img{
        width:20%;
        margin-right: 30px;
        border:3px solid black;
        box-sizing: border-box;
      }

      .roll-price{
        font-size:32px;
        padding-right:60px; 
      }

      .remove{
        font-size:10px;
        font-weight:bold;
        align-self:flex-start;  /* align to the left */
        text-decoration:underline;
      }
  
    
  .total-line{   /* settings for the line above the total price */
    height:2px;
    background-color: black;
    width:63%;
    margin-left:37%; /* aligning it to the rest of the content */
    margin-bottom:0px;
  }

  .total-section{ /* horizontal flex for total label and price */
    display:flex;
    margin-top:25px;
    margin-bottom:40px;
    margin-left: 52%;
    gap:360px;
  }
  
   
    .total-price{
      font-size: 32px;
    }

 
  .checkout{ /* div for button */
    text-align: right;  /* put botton on right side of screen */
    margin-top:15px;
  }
 
    .checkout-button {
      border:3px solid black;
      background-color: yellow;
      padding: 10px 35px; /* add space in button*/
      text-align: center; /* center in button*/
      font-size: 25px;
      font-weight: bold;
      margin-right:40px;
    }




          